@font-face {
	font-family: 'TruckFeed';
	src:url('fonts/TruckFeed.eot?-9sn2zu');
	src:url('fonts/TruckFeed.eot?#iefix-9sn2zu') format('embedded-opentype'),
		url('fonts/TruckFeed.woff?-9sn2zu') format('woff'),
		url('fonts/TruckFeed.ttf?-9sn2zu') format('truetype'),
		url('fonts/TruckFeed.svg?-9sn2zu#TruckFeed') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'TruckFeed';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-image:before {
	content: "\220f";
}

.icon-beer23:before {
	content: "\34";
}

.icon-chicken4:before {
	content: "\35";
}

.icon-china:before {
	content: "\153";
}

.icon-cocktail7:before {
	content: "\36";
}

.icon-cup16:before {
	content: "\37";
}

.icon-eggplant1:before {
	content: "\38";
}

.icon-eggs:before {
	content: "\39";
}

.icon-ethiopia:before {
	content: "\2211";
}

.icon-fish52:before {
	content: "\a1";
}

.icon-france:before {
	content: "\b4";
}

.icon-germany:before {
	content: "\ae";
}

.icon-hot33:before {
	content: "\2122";
}

.icon-italy:before {
	content: "\2020";
}

.icon-mexican7:before {
	content: "\a5";
}

.icon-noodles:before {
	content: "\a3";
}

.icon-peru:before {
	content: "\a8";
}

.icon-pizza3:before {
	content: "\221e";
}

.icon-sandwich:before {
	content: "\a2";
}

.icon-south2:before {
	content: "\2c6";
}

.icon-sushi3:before {
	content: "\a7";
}

.icon-tacos:before {
	content: "\2022";
}

.icon-thailand:before {
	content: "\f8";
}

.icon-us:before {
	content: "\3c0";
}

.icon-vietnam:before {
	content: "\201c";
}

.icon-cat3:before {
	content: "\42";
}

.icon-parking5:before {
	content: "\47";
}

.icon-tree101:before {
	content: "\59";
}

.icon-urban4:before {
	content: "\41";
}

.icon-icon:before {
	content: "\74";
}

.icon-home:before {
	content: "\68";
}

.icon-office:before {
	content: "\6f";
}

.icon-camera:before {
	content: "\63";
}

.icon-camera2:before {
	content: "\56";
}

.icon-tags:before {
	content: "\54";
}

.icon-barcode:before {
	content: "\3d";
}

.icon-credit:before {
	content: "\43";
}

.icon-location:before {
	content: "\4c";
}

.icon-map:before {
	content: "\6d";
}

.icon-disk:before {
	content: "\e600";
}

.icon-users:before {
	content: "\55";
}

.icon-quotes-left:before {
	content: "\22";
}

.icon-spinner:before {
	content: "\7b";
}

.icon-search:before {
	content: "\73";
}

.icon-lock:before {
	content: "\65";
}

.icon-remove:before {
	content: "\72";
}

.icon-lightning:before {
	content: "\e5";
}

.icon-earth:before {
	content: "\45";
}

.icon-bookmark:before {
	content: "\222b";
}

.icon-bookmarks:before {
	content: "\221a";
}

.icon-heart:before {
	content: "\6a";
}

.icon-heart2:before {
	content: "\6b";
}

.icon-happy:before {
	content: "\44";
}

.icon-smiley:before {
	content: "\29";
}

.icon-tongue:before {
	content: "\71";
}

.icon-sad:before {
	content: "\28";
}

.icon-angry:before {
	content: "\77";
}

.icon-confused:before {
	content: "\7a";
}

.icon-checkmark:before {
	content: "\d4";
}

.icon-checkmark2:before {
	content: "\2206";
}

.icon-play:before {
	content: "\61";
}

.icon-stop:before {
	content: "\64";
}

.icon-volume-high:before {
	content: "\2e";
}

.icon-volume-mute:before {
	content: "\2c";
}

.icon-uniE600:before {
	content: "\33";
}

.icon-uniE601:before {
	content: "\32";
}

.icon-uniE602:before {
	content: "\31";
}

.icon-credit-card:before {
	content: "\79";
}

.icon-flame:before {
	content: "\26";
}

.icon-phone:before {
	content: "\4f";
}

.icon-mail:before {
	content: "\40";
}

.icon-paperplane:before {
	content: "\53";
}

.icon-user:before {
	content: "\75";
}

.icon-vcard:before {
	content: "\6e";
}

.icon-sound:before {
	content: "\5c";
}

.icon-mute:before {
	content: "\2f";
}

.icon-arrow-left:before {
	content: "\3c";
}

.icon-arrow-down:before {
	content: "\76";
}

.icon-arrow-up:before {
	content: "\5e";
}

.icon-arrow-right:before {
	content: "\3e";
}

.icon-twitter:before {
	content: "\23";
}

.icon-facebook:before {
	content: "\66";
}

.icon-pinterest:before {
	content: "\70";
}

.icon-instagram:before {
	content: "\49";
}

.icon-paypal:before {
	content: "\50";
}

